# Visual Studio files 
.vs/ 
bin/ 
obj/ 
*.user 
*.userosscache 
*.suo 
*.userprefs 
*.dbmdl 
*.jfm 
packages/ 
*.nupkg 
*.pfx 
*.snk 
*_i.c 
*_p.c 
*.ilk 
*.meta 
*.obj 
*.pch 
*.pdb 
*.pgc 
*.pgd 
*.rsp 
*.sbr 
*.tlb 
*.tli 
*.tlh 
*.tmp 
*.log 
*.vspscc 
*.vssscc 
.builds 
*.pidb 
*.svclog 
*.scc
